.form__group {
  position: relative;
  padding: 1rem 0;
  margin-top: 10px;
  width: 70%;
}

.form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 2rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}

input::placeholder {
  color: transparent;
}

.form__field:placeholder-shown ~ .form__label {
  font-size: 2rem;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1.5rem;
  color: #9b9b9b;
  cursor: text;
}

.form__field:focus {
  padding-bottom: 6px;
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, #11998e, #38ef7d);
  border-image-slice: 1;
}

.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 2rem;
  color: #11998e;
  font-weight: 700;
}

.form__field:required,
.form__field:invalid {
  box-shadow: none;
}
.error_msg{
  font-size: 2rem;
  color: brown;
}